<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400664901505-prtqdtvat385tudk7rem7muo88nt0ihq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400664901505-prtqdtvat385tudk7rem7muo88nt0ihq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrLmqbKX_XIr6D6IYBLDPAhltVNtOzk-E</string>
	<key>GCM_SENDER_ID</key>
	<string>400664901505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noubug.app.CryOut</string>
	<key>PROJECT_ID</key>
	<string>cry-out</string>
	<key>STORAGE_BUCKET</key>
	<string>cry-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400664901505:ios:8808472a69d02fe9695a80</string>
	<key>DATABASE_URL</key>
	<string>https://cry-out.firebaseio.com</string>
</dict>
</plist>